# Dependencies
node_modules/
.bun/install/cache
bun.lockb

# Build outputs
dist/
.next/
out/
build/

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Prisma
/packages/core/prisma/dev.db
/packages/core/prisma/dev.db-journal

# Database backups
backups/

# Custom Assets & Docs
/docs/_assets_references
/docs/_docs_references
