.inidos-layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.inidos-layout-wrapper__container {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-width: 0;
  overflow: hidden;
}

.inidos-main-content {
  flex: 1;
  padding: calc(var(--inidos-spacing-unit) * 4);
  overflow-y: auto;
  background-color: var(--inidos-bg-body);
}